<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kbb.livedrive"
    android:versionCode="10"
    android:versionName="1.54" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <!-- Required for data -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required to check if WiFi is enabled -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Required for current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
    <!-- Required to keep device awake during data processing -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- Required for AppLink connection -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- Required for logging -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:name=".app.LiveDriveApplication"
        android:icon="@drawable/live_drive_logo"
        android:theme="@style/AppTheme"
        android:allowBackup="true" >
        
        <activity
            android:name="com.kbb.livedrive.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.kbb.livedrive.activity.LockScreenActivity"
            android:label="Locked"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.kbb.livedrive.wunderground.WUndergroundService" >
        </service>
        
        <service android:name="com.kbb.livedrive.googleplay.GooglePlayService" >
        </service>        

        <service android:name="com.kbb.livedrive.emulator.VehicleDataEmulatorService" >
        </service>        

        <service android:name="com.kbb.livedrive.vehicledata.DriverScoreService" >
        </service>        
        
        <service android:name="com.kbb.livedrive.vehicledata.VehicleDetailsService" >
        </service>        
        
        <service android:name="com.kbb.livedrive.location.LocationServices">
        </service>
        
        <service android:name="com.kbb.livedrive.applink.AppLinkService" >
        </service>
        
        <receiver android:name="com.kbb.livedrive.applink.AppLinkReceiver" >
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>
        
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id" />
  		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        
    </application>
</manifest>
