.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#FPRB_10DrOneURL_294_Rv_WK {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin-top: 202px;
    margin-left: 24.537037%;
    clear: both;
}

#Vehicle_in_Motion_Game_in_Progress_ {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin-top: 25px;
    margin-left: 2.847755%;
    clear: none;
}

#textspan2 {
    float: none;
    font-size: 3.375em;
    line-height: 1em;
    color: rgb(0, 64, 128);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.06em;
    text-decoration: none;
    font-family: open-sans;
}

#textspan3 {
    float: none;
    font-size: 3.375em;
    line-height: 1em;
    color: rgb(65, 156, 21);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.06em;
    text-decoration: none;
    font-family: open-sans;
}

#Rounded_Rectangle_1 {
    float: left;
    height: 98px;
    width: 84.537037%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin-top: 98px;
    margin-left: 7.314815%;
    clear: both;
}

#Group_1 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-top: 168px;
    margin-left: 5.185185%;
    clear: both;
}

#Group_2 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin-top: 166px;
    margin-left: 9.538484%;
    clear: none;
}

#LIVE_DRIVE {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin-top: 36px;
    margin-left: 21.574074%;
    clear: both;
}

#textspan {
    float: none;
    font-size: 7.744932250000001em;
    line-height: 1em;
    color: rgb(12, 112, 173);
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.05em;
    text-decoration: none;
    font-family: open-sans;
}

#textspan1 {
    float: none;
    font-size: 7.744932250000001em;
    line-height: 1em;
    color: rgb(0, 64, 128);
    font-style: italic;
    font-weight: normal;
    letter-spacing: -0.05em;
    text-decoration: none;
    font-family: open-sans;
}

#LD_Logo_1 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin-top: 124px;
    margin-left: 36.759259%;
    clear: none;
}

#Layer_0 {
    float: left;
    height: 1920px;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgb(215, 215, 215) 100%);
    background-image: linear-gradient(180deg, white 0%, rgb(215, 215, 215) 100%);
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

