.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-image:url("img/bkg.png");
    -webkit-background-size: 100%;
    background-size: 100%;
}

#live_drive_container{
	
}

#LIVE_DRIVE {
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    z-index: 1;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#scores{
	clear:both;
    margin-top:140px;
}

#driver_score{
    float:left;
    margin-right:0.5px;
	/*background-color: green;*/
	/*width:49.5%;*/
    /*padding-bottom:49.5%;*/
}

#mpg_score{
	float:left;
    margin-left:0.5px;
	/*background-color: blue;*/
    /*width:49.5%;*/
    /*padding-bottom:49.5%;*/
}

#FordLogo {
    clear: both;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    z-index: 1;
    margin-top: 280px;
    margin-left: auto;
    margin-right: auto;
}

#Vehicle_in_Motion_Game_in_Progress_ {
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    clear:both;
}

#textspan {
    font-size: 2.5em;
    line-height: 2.5em;
    color: rgb(0, 64, 128);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.06em;
    text-decoration: none;
    font-family: open-sans;
}

#textspan1 {
    font-size: 2.5em;
    line-height: 2.5em;
    color: rgb(65, 156, 21);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.06em;
    text-decoration: none;
    font-family: open-sans;
}

#Rounded_Rectangle_1 {
    float: left;
    height: 98px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-top: 733px;
    margin-left: 7.314815%;
    clear: both;
}

